accesslog = '{{ nginx_directory_log }}/access.log'
errorlog = '{{ nginx_directory_log }}/error.log'
workers = {{ gunicorn_workers }}
threads = {{ gunicorn_threads }}
preload_app = {{ gunicorn_preload }}
