accesslog = '{{ directory_log }}/etsin-qvain-access.log'
errorlog = '{{ directory_log }}/etsin-qvain-error.log'
workers = {{ gunicorn_workers }}
threads = {{ gunicorn_threads }}
preload_app = {{ gunicorn_preload }}
