#!/bin/bash
# Script to reindex all datasets in Elasticsearch without recreating index

if [ "$USER" != "{{ application_user }}" ]; then
    echo "Run this as {{ application_user }}"
    exit 1
fi

source {{ directory_venv }}/bin/activate
cd {{ repo_path_data }}
python create_empty_index.py
